@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-indigo-800 hover:text-indigo-800 visited:text-purple-700;
}

p {
  @apply mb-2;
}

.quicksand {
  font-family: "Quicksand";
}

h1 {
  @apply quicksand;
}

h2 {
  @apply text-3xl my-2 quicksand;
}

h3 {
  @apply text-xl mt-8 mb-2 text-gray-700;
}

pre {
  @apply rounded-xl;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 600px;
  @apply text-gray-800;
}

ol {
  @apply list-decimal ml-6 mt-2 mb-3;
}

ul {
  @apply list-disc ml-6 mt-2 mb-3;
}

table {
  @apply mb-3;
}

td,
th {
  @apply border border-gray-300 p-2 text-gray-700;
}
